@page "/"
@page "/page/{pageNo:int?}"


@inject IBookService bookService

<PageTitle>Home</PageTitle>

<SectionContent SectionName="PageTitle">
	<h1 class="m-0 text-white fw-bold">Buddy's Books</h1>
	<h3 class="text-white mt-2">Hundreds of books for your pleasure</h3>
</SectionContent>

<div class="container-lg">

	@foreach(var book in _books)
	{
		<h4> @book.Title </h4>
	}
</div>
@code {

	[Parameter]
	public int? PageNo { get; set; } = 1;

	private GenreDto[] _genres = [];
	private BookListDto[] _books = [];
	private BookListDto[] _popularBooks = [];
	private int _totalCount = 0;

	private const int PageSize = 16;

	protected override async Task OnInitializedAsync()
	{
		var genreTask = bookService.GetGenresAsync(topOnly: true);
		var booksTask = bookService.GetBooksAsync(PageNo ?? 1, PageSize);
		var popularTask = bookService.GetPopularBooksAsync(10);

		_genres = await genreTask;
		(_books, _totalCount) = await booksTask;
		_popularBooks = await popularTask;
	}
}
