@page "/genres"

@inject IBookService bookService

<PageTitle>All Genres | Buddy's Books</PageTitle>

<SectionContent SectionName="PageTitle">
	<h1 class="m-0 text-white fw-bold">Buddy's Books</h1>
	<h3 class="text-white mt-2">Hundreds of books for your pleasure</h3>
</SectionContent>

<div class="container mt-5 ">

	<div class="row">
		@foreach(var g in _genres)
		{
			<div class="col-6 col-sm-3 mb-4">
				<a href="/?genre=@g.Slug" title="@g.Name Books" class="bg-white p-3 d-flex justify-content-center align-items-center heading">@g.Name</a>
			</div>
		}
	</div>

</div>

@code {
	private GenreDto[] _genres = [];
	protected override async Task OnInitializedAsync()
	{
		_genres = await bookService.GetGenresAsync(topOnly: false);
	}

}
