@inherits LayoutComponentBase

<NavMenu/>

<div class="container-fluid bg-main">
	<div class="container d-flex flex-column justify-content-center align-items-center p-5">
		<SectionOutlet SectionName="PageTitle"/>
	</div>
</div>

@Body

<hr />

<div class="container">
	<footer class="d-flex align-items-center justify-content-center">
		<p>
			&copy; @DateTime.Today.Year - Buddy's Books | Developed by <a href="https://www.google.com" target="_blank">Jeffrey Besitos</a>
		</p>
	</footer>
</div>